<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\work\serveron12dec\Hrportalserver" />
        <add key="DJANGO_SETTINGS_MODULE" VALUE="HRproj.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="testdjangoiss" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="C:\Program Files\Python310\python.exe|&quot;C:\Users\scheruku\AppData\Roaming\Python\Python310\site-packages\wfastcgi.py&quot;"
                resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>