

{% extends 'email_base.html' %}

{% block title %}
{% endblock %}

{% block subject %}
  Dear {{recruitername}}
{% endblock %}

{% block body %}
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Candidate with {{CandidateCode}} has been shortlisted in technical interview taken by {{hiringmanager}}. Kindly schedule HR interview using below HR Workflow application url.
</p> 

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
 <a href="{{ url}}">{{ url }}</a>.
</p>
{% endblock %}