<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">

  <tr bgcolor="#ffffff">
    <td bgcolor="#ffffff" style="padding: 10px 10px 30px 10px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left">
            <p style="font-size: 0.9rem; font-weight: bold; font-family: Verdana, Geneva, sans-serif;">
              {% block subject %}{% endblock %}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            {% block body %}
            {% endblock %}
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 0.9rem; font-weight: lighter; font-family: sans-serif; margin-bottom: 2px; padding-bottom: 0; color: #222;">
              Thanks,
            </p>
            <p style="font-size: 0.9rem; font-weight: bold; font-family: sans-serif; margin: 0 0 2px 0; padding: 0; color: #222;">
              HR Team
            </p>

          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
</body>

</html>