{% extends 'email_base.html' %}

{% block title %}
{% endblock %}

{% block subject %}
  Dear {{hiringmanager}}
{% endblock %}
   
</p> 
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;"> 
  Please review the candidate profile {{CandidateCode}} with respect to the {{JobCode}} uploaded by {{recruiter}} using below HR Workflow application url.
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
 <a href="{{ url}}">{{ url }}</a>.
</p>
{% endblock %}