{% extends 'email_base.html' %}

{% block title %}
{% endblock %}

{% block subject %}
  Dear {{HR}}
{% endblock %}

{% block body %}
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Candidate {{CandidateCode}} has been approved by {{generalmanager}}.
</p> 
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;"> 
  Kindly generate offer letter and login credentials to the Candidate using below HR Workflow application url. 
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
 <a href="{{ url}}">{{ url }}</a>.
</p>
{% endblock %}