{% extends 'email_base.html' %}

{% block title %}
{% endblock %}

{% block subject %}
  Dear {{recruitername}}
{% endblock %}

{% block body %}
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
  Job Post {{jobcode}} request submitted by {{hiringmanager}} has been approved by {{businesshead}}.
   
</p> 
<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;"> 
  Please upload candidate profiles for respective jobpost using below HR Workflow application url. 
</p>

<p style="font-size: 0.9rem; font-weight: lighter; font-family: Verdana, Geneva, sans-serif;">
 <a href="{{ url}}">{{ url }}</a>.
</p>
{% endblock %}